
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


@import url('https://fonts.cdnfonts.com/css/graphik-trial');


.body , html{
  background-color: #131314;
  font-family: Arial;
  font-weight: bold;
  
}

h1{
  text-align: center;
  color: #ffffff;
  margin-bottom:50px ;
  font-family: graphil-trial;
  
}



.main{
  font-size: 16px;
  display: grid;
  grid-template-columns: 400px 250px 50px;
  color: rgb(255, 255, 255);
  
  width: 800px;
  background-color: rgba(255, 255, 255, 0.504);
  border-radius: 6px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 20%;
  box-shadow:0px 8px 1px  #ffffff3b;
 
}

.inpt{
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #0080ff;
  
  
}

input::-webkit-input-placeholder {
  color: white;  
  font-family: "Roboto Mono",monospace; 
  font-size: 16px;
  padding-left: 20px;
  
}


.inpt:hover{
  background-color: rgb(8, 15, 102);
  border: 2px solid #0080ff;
  color:#ffffff ;

}


.date{
  background-color: #0080ff;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono",monospace;
  font-size: 18px;

  padding-left: 10px;


}

::-webkit-calendar-picker-indicator{
  background-color: #ffff;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
  
}


.to-do-input-grid{
  display: grid;
  grid-template-columns: 300px 200px 85px 80px;
  column-gap: 10px;
  margin-left: 20%;
}


.delItem{
  background-color: red;
  color: rgb(255, 255, 255);
  border: none;
  margin-left:30px ;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 5px 0px;
  height: 35px;
  width: 35px;
  font-weight: bolder;
}



.delItem:hover{
  background-color: crimson;
}

.clrbtn {
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  
}

.add-btn{
  background-color: #009DFF;
  color: white;
  border: none;
  border-radius: 4px;
}



.add{
  display: inline-block;
  transition: 0.1s ease-in-out ;
  padding-top: 1px;
}


.add:hover::before{
  content: "\002B";
  color: rgb(255, 255, 255);
  
  font-weight: bold;
}

.add:hover{
  content: "";
  color: transparent;
  font-size: 16px;
  padding-left: 20px;

  
}

